 
:root{
    --red:#e75b24;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}
*::selection{
    background: var(--red);
    color: #fff;
}


html{
    font-size: 58.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
body{
    background-image: url('Images/polygon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
section{
    padding: 4rem 1%;
}
.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #666;
}
.heading span{
    color:var(--red);
}
.btn{
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    text-align: center;
    border-radius: .5rem ;
    position: relative;
    overflow: hidden;
    z-index: 0;
    font-weight: bold;
    margin-top: 1rem;
    -webkit-border-radius: .5rem ;
    -moz-border-radius: .5rem ;
    -ms-border-radius: .5rem ;
    -o-border-radius: .5rem ;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.btn:hover{
    background-color: var(--red);
    color: #fff;
    transform: scale(1.2rem);
    -webkit-transform: scale(1.2rem);
    -moz-transform: scale(1.2rem);
    -ms-transform: scale(1.2rem);
    -o-transform: scale(1.2rem);
}

.logo{
   padding-left: 5rem;
    height: 7rem;
}

header{
   display: grid;
   grid-template-rows: 1fr 1fr;
} 
.upper-box{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:#fff ;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
   
    
}
.down-box{
    position: fixed;
    top: 8rem;
    left: 0;
    right: 0;
    background:#fff ;
    border-top: 0.2rem solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

 header .navbar a{
    font-size: 2.5rem;
    margin-left: 2rem;
    font-weight: bold;
    color:#666;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
 header .navbar a i{
    font-size: 2.5rem;
    margin-left: 2rem;
    font-weight: bold;
    color:#666;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
header .navbar a:hover{
    color: var(--red);
}

header .navbar a i:hover{
    color: var(--red);
}

.navbar .action{
    padding: 0.5rem 1.5rem;
    color: white;
    border: 0.2rem var(--red) solid;
    background-color: var(--red);
}

.navbar .action:hover{
    color: var(--red);
    background-color: white;
    border: 0.2rem var(--red) solid;
 }

#menu-bar{
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border: .1rem solid #666;
    border-radius:.3rem ;
    padding: .5rem 1.5rem;
    display:none;
    -webkit-border-radius:.3rem ;
    -moz-border-radius:.3rem ;
    -ms-border-radius:.3rem ;
    -o-border-radius:.3rem ;
}

.home {
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
   min-height: 100vh;
   align-items: center;

}

.back{
    background: url('Images/newBG.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    filter:brightness(40%);
    -webkit-filter:brightness(40%);
}

.home:hover .back{
    filter:brightness(60%);
    -webkit-filter:brightness(60%);
}

.home .content{
    flex: 1 1 40rem;
    padding-top: 6.5rem;
}

.home .image{
    flex: 1 1 40rem;
    position: relative;
    left: 60rem;
    top: -20rem;
}
.home .image img{
    width: 50%;
    padding: 1rem;
    animation: float 3s linear infinite;
}
@keyframes float{
    0%,100%{
        transform: translateY(0rem);
        -webkit-transform: translateY(0rem);
        -moz-transform: translateY(0rem);
        -ms-transform: translateY(0rem);
        -o-transform: translateY(0rem);
    }
    50%{
        transform: translateY(3rem);
        -webkit-transform: translateY(3rem);
        -moz-transform: translateY(3rem);
        -ms-transform: translateY(3rem);
        -o-transform: translateY(3rem);
}

}
.home .content h3{
    font-size: 5rem;
    color: #ffffff;
}

.home .content p{
    font-size: 1.7rem;
    line-height: 2rem;
    color: #ffffff;
    padding: 1rem 0;
}
@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    header{
        padding:2rem;
    }
    section{
        padding: 2rem;
    }
    .upper-box{
        padding: 1rem;
    }
    .outter-box input{
        width:90vw;
        
    }
    /* --------profile-------- */
    .profileData .firstdev{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 5px;
    }
    .profileData .firstdev .col1 i{
        font-size: 100px;
    }
    .profileData .firstdev .col1,.profileData .firstdev .col2{
        width: 100%;
        border: none;
        font-size: 15px !important;
    }
    .orderdiv table{
        font-size: 2px;
        padding: 2px;
        margin: 0;
    }
    .orderdiv table th,td{
        font-size: 10px !important;
        padding: 2px;
        margin: 0;
    }
  
}

@media (max-width:768px) {
    #menu-bar {
        display:initial;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f7f7f7;
        border-top: 0.1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
       
    }
    header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1.5rem;
        border: .2rem solid rgba(0,0,0,.1);
        border-left: .5rem solid var(--red);
        background: #fff;
    }
    .main-container .popup-box{      /*New*/
        width:fit-content;
        
    }

 }
 @media (max-width:450px) {
    html{
        font-size: 50%;
    }
    /* -----footer & wishlist--- */
    .footer{
        align-content: center;
    }
    .footer .footer-row{
        display: flex;
        flex-direction: column;
        align-items: center; 
        align-content: center;
    }
    .footer .footer-row .col4{
        width: 80%;
        font-size: 10px;
    }
    .speaciality .box-container .box{
        height: 200%;
        width: 80%;
    }

    .wishlist .row-container .row {
        flex-direction: column;
        align-items: center;
    }

    .wishlist .row-container .row .col3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wishlist .row-container .row .col3 .option {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .wishlist .row-container .row .col3 .option .btn {
        margin: 0.5rem;
    }
    


}


.speaciality .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.speaciality .box-container .box{
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.speaciality .box-container .box .image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -110%;
    left: 0%;
}

.speaciality .box-container .box .content img{
    margin: 1.5rem 0;
    padding-left:6rem ;
}
.speaciality .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
    padding-left:10.5rem;
}
.speaciality .box-container .box .content p{
    font-size: 1.6rem;
    color: #666;
    padding: 0rem 1.5rem;
}
.speaciality .box-container .box:hover .image{
    top: 0;
}
.speaciality .box-container .box:hover .content{
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
}
.popular{
    justify-content: center;
}
.popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    width: 100%;

}

.popular .box-container .box{
    padding: 2rem;
    width: 40rem;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: .1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    text-align: center;
    position: relative;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.popular .box-container .box img{
    height: 25rem;
    object-fit: cover;
    width: 100%;
    border-radius: .5rem ;
    -webkit-border-radius: .5rem ;
    -moz-border-radius: .5rem ;
    -ms-border-radius: .5rem ;
    -o-border-radius: .5rem ;
}
@media (max-width: 1300px) {
    .popular .box-container .box img{
        height: 35rem;
    }
}
.popular .box-container .box .price{
    color: #000000;
    font-size: 2rem;
    padding: 1.5rem ;
   
}
.popular .box-container .box .description{
    color: #000000;
    font-size: 1.5rem;
    padding: .5rem 1rem;
   
}
.popular .box-container .box h3{
    color: #333;
    font-size: 2.5rem;
    padding-top:  1rem;
}
.popular .box-container .box .stars i {
    color:gold;
    font-size: 1.7rem;
    padding-top:1rem .1rem;
}
.steps{
    display: flex;
    background-image: url('Images/smallBG.jpg');
    margin-bottom: 5rem;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 10rem 10rem ;
    
}
.steps .box{
    flex: 1 1 25rem;
    padding: 3rem;
    text-align: center;
}
.steps .box img{
    width: 100px;
}
.steps .box h3{
    font-size: 2.5rem;
    color: #ffffff;
    padding: 1rem;
}
.gallery .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.gallery .box-container .box{
    height: 25rem;
    flex: 1 1 30rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.gallery .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery .box-container .box .content{
    position: absolute;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.8);
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
}
.gallery .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}
.gallery .box-container .box .content p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}
.gallery .box-container .box:hover .content{
    top: 0;
}
.reveiw {
    justify-content: center;
}
.reveiw .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}
.reveiw .box-container .box{
    text-align: center;
    border: .1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border-radius: .5rem;
    background: #333;
    margin-top: 6rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.reveiw .box-container .box img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 1rem solid #fff;
    margin-top: -8rem;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.reveiw .box-container .box h3{
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}
.reveiw .box-container .box .stars i{
    font-size: 2rem;
    color:gold;
    padding: .5rem 0;
}
.reveiw .box-container .box p{
    font-size: 1.5rem;
    color:#eee;
    padding: 1rem 0;
}
.order .row{
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.order .row .image{
    flex: 1 1 30rem;
}
.order .row .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.order .row form{
    flex: 1 1 50rem;
    padding: 1rem;
}
.order .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.order .row form .inputBox input,.order .row form textarea{
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    width: 49%;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.order .row form textarea{
    width: 100%;
    resize: none;
    height: 15rem;
}
.order .row .btn{
    left: 23rem;
}
.footer{
    background: #000;
    text-align: center;
}
.footer .share{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}
.footer .credit{
    padding: 2.5rem 1rem;
    color: #fff;
    font-weight: normal;
    font-size: 2rem;
}
.footer .credit span{
    color:var(--red);
}
#scroll-top{
    position: fixed;
    top: -120%;
    right: 2rem;
    padding: .5rem 1.5rem;
    font-size: 4rem;
    background: var(--red);
    color: #fff;
    border-radius: .5rem;
    transition: 1s linear;
    z-index: 1000;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    -webkit-transition: 1s linear;
    -moz-transition: 1s linear;
    -ms-transition: 1s linear;
    -o-transition: 1s linear;
}

#scroll-top .active{
    top:calc(100% - 12rem);
}
.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;    justify-content: center;
    height: 100%;
    width: 100%;
}
.loader-container.fade-out{
    top: -120%;
}
/* ----------------------------------------- */
#popular2{
    margin-top: 100px; 
}
.box2{
    margin-top: 2rem;
   
    display: inline-flex;
}
.box1{
    display: grid;
}
.cart{
    display: inline-block;
    padding: 1.5rem;
    margin-left: 2rem;
    border: .2rem solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    text-align: center;
    border-radius:  50%;
    position: relative;
    overflow: hidden;
    z-index: 0;
    font-weight: bold;
    
    -webkit-border-radius:  50%;
    -moz-border-radius:  50%;
    -ms-border-radius:  50%;
    -o-border-radius:  50%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.cart:hover{
    background-color: var(--red);
    color: #fff;
    transform: scale(1.5rem);
    -webkit-transform: scale(1.5rem);
    -moz-transform: scale(1.5rem);
    -ms-transform: scale(1.5rem);
    -o-transform: scale(1.5rem);
}
input[type=text], input[type=password],input[type=number], input[type=email] {
    width: 500px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
 .search-bar{
    width: 0;
    height: 4rem;
    padding: 0 !important;
    margin: 0 !important;
    background-color: transparent !important;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}
.outter-box .search-bar{
    width: 30rem;
}
.outter-box{
    
    height: 4rem;
    display: flex;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 10px 20px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}
.outter-box a .fas{
    color: #000000;
}


/* ---------------------------- */
.main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}



img.avatar {
    width: 40%;
    color: white;
    border-radius: 50%;
    background-color: white;
    margin: 3%;
   
}
.imgcontainer{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
label{
    display: flex;
    font-size: 1.7rem;
}
.regForm{
    display: none;
    margin-bottom: 2%;
    padding:0 4% ;
}
h2{
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.messages{
    margin: 4%;
    color: rgb(0, 255, 0);
    text-align: center;
    filter:drop-shadow(5px 5px 15px rgb(158, 255, 182)) ;
    -webkit-filter:drop-shadow(5px 5px 15px rgb(9, 255, 0)) ;
  }
.addProduct{
    display: block;
    margin-bottom: 2%;
    padding:0 4% ;
    
}
.clearfix{
    margin-top: 2%;
    display: flex;
}
td img{
    width: 100px;
}
.productsTable{
    margin: 14rem;
    display: block;
    padding:0 4% ;
}
table{
   background-color: #ffffff;
   padding: 2%;
   border: 0.2px solid #4d4d4d;
   border-radius: 5px;
   width: 100%;
   display: table;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}
thead{
    padding-bottom: 2%;
}
td{
    width: fit-content;
    font-size: 2rem;
    padding: 0 2% ;
    margin: 2%;
}
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }

  button {
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 250px;
    opacity: 0.9;
  }
  button:hover {
    opacity:1;
  }

  .search-icon{
    background-color: transparent;
    color:#666;
    padding: 0;
    border: none;
    cursor: pointer;
    width: 2rem;
    opacity: 1;
  }
  .sub-btn{
    width: 100%;
    
  }
  
  .messages i{
    color: #f44336;
    padding-right: 5px;
  }
  td button{
    display: inline;
    width: 90%;
    margin-bottom: 2%;
  }
  #table-btn{
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  td a{
    text-decoration: none;
    color: white;
  }
 
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem;
    min-height: 100vh;    /*new*/
    
  }


  .container2{
    display: flex;
    margin-top: 3rem;
    }
    
    .deleteProduct{
        margin-left: 5rem;
    }
  @media (max-width:991px) {
    button{
        width: 50vw;
    }
    input[type=text], input[type=password],input[type=number] {
        width: 100vw;
        
      }
      .container{
      display: flex;
      align-items: flex-start;
      margin-top: 0;
      }
      td{
        font-size: 1.5rem;
      }

      .container2{
        display: block;
        }
        
        .deleteProduct{
            margin-left: 0rem;
        }
}
.deleteBrand{
    margin-top: 2rem;
    border-top: #000 solid 2px;
    padding-top: 2rem;
}

/* ---------logReg page------- */
.popup-box{
    background-color: white;
    width:30%;
    height: fit-content;
    padding: 30px;
    border-radius: 10px;
    margin-top: 16vh;
    border-width: 0.3rem;
    border-style: solid;
    border-image: linear-gradient(to right,var(--red), #666);
    border-image-slice: 1;
  
}

.popup-box .popup-btn .logbtn{
    background:transparent;
    color: var(--red);
    font-size: 4rem;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 20px;
    
}
.popup-box .popup-btn .regbtn{
    background:rgb(203, 216, 226);
    border: 2px solid red;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    
}
.popup-box input{
    width: 100%;
    height: 30px;
    margin: 5px 0;
    padding: 5px;
    border: 2px;
    border-radius: 5px;
}
.popup-box .submitbtn{
    background-color: var(--red);
    border-radius: 30px;
    border: 0.2rem solid var(--red);
    color: white;
}

.popup-box .submitbtn :hover{
    
    background-color: white;
    color: var(--red)
}

.popup-box .submitbtn:hover{
    scale: 1.03;
    
}
.popup-box a{
    color:#666;
    text-decoration: none;    
}
.main-container{
   display: flex;
   justify-content: center;
   align-items: center;
   margin:1vh ;
   min-height: 70vh;
   background-image:url("back.jpg");
   
    
}
.profile-icon{
    display: flex;
    width: fit-content;
}
.navbar p{
    margin-top: 10px;
    font-size: 15px;
    width: fit-content;
}

/* -------footer------ */
.footer{
    color: #fff;
    width: 100%;
    background: #302e2e;
    min-height: 26vh;
    font-size: 1.3rem;
    padding: 3rem 1.5rem;
    
}
.footer .credit{
    display: flex;
    margin-top: 2rem;
    padding: 0 1rem;
    font-weight: normal;
    justify-content: center;
    flex-wrap: wrap;    
}

.footer .credit span{
    color:var(--red);
}
.footer-row{
    display: flex;
    justify-content: space-around;    
}
.footer-row .col4{
    width: 20%;
}
.footer-row .col4 h3{
    font-size: 1.55rem;
    padding-bottom: 18px;
    text-align: center;
}
.footer-row .col4 h3:hover{
    color: #ff3838;
}
.footer-row .col4 ul{
    margin: 4px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.footer-row .col4 ul li{
    margin-bottom: 5px;
}
.footer-row .col4 ul li:hover{
    scale: 1.15;

}
.footer-row .col4 .img-row img:hover{
    scale: 1.3;
}
.footer-row .col4 h3:hover{
    scale: 1.15;

}
.footer-row .col4 .img-row{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;

}
.footer-row .col4 .img-row img{
    width: 12%;
    height: 30px;
    margin-left: 3px;
}


/* --------profile popup----- */
.profile{
    display: none;
    right: 9%;
    position: absolute;
    top: 10vh;
    width: fit-content;
    padding: 5px 10px;
    border: 3px solid #4e3664;
    font-style: normal;
    font-size: 1.2rem;
    background-color:lightseagreen
}
.profile .fa-user{
    font-size: 4rem;
    left: 0;
    margin: 0%;
    
}
.profile .fa-xmark{
    font-size: 3rem;
    color: black;
    position: absolute;
    right: 2px;
    top: 0;
}
.profile .btn{
    height: 20px;
    font-size: 1.2rem;
    width: 100px;
    padding: 2.5px;

}

/* -------wishlist------ */
.wishlist  {
    margin-top: 15vh;/*new*/
    min-height: 50vh; 
              
}
.wishlist .row-container .row {
    display: flex;
    justify-content: space-between;
    border: 0.2px solid #302e2e;
    padding: 2rem;
    border-radius: 5px;
    margin-bottom: 3px;
}
.wishlist .row-container .row img{
    width: 100px;
    padding-left:10px ;
}

.wishlist .row-container .row .col3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.wishlist .row-container .row .col3 .btn {
    width: 80%;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.wishlist .option form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0%;
    padding: 0;
}

/* -------profile------ */
.profileData {
    margin-top: 15vh;/*new*/
    min-height: 50vh
}
.profileData .firstdev{
    display: flex;
    width: 100%;
    margin: 2rem 0;
    padding: 2rem;
    border-top:3px solid  #333;
    min-height: 15vh;
    font-size: 9px;
}
.profileData .orderdiv{
    margin: 2rem 0;
    padding: 2rem;
    border-top:3px solid  #333;
    min-height: 15vh;
    font-size: 9px;
}
.firstdev .col1 i{
    font-size: 900%;
    margin: 0;
    padding: 0;
    
}
.firstdev .col1{
    width: 35%;
    padding: 1.5rem;
    border-right: 2px solid #302e2e ;
}
.firstdev .col1 address{
    font-size: 12px;
}
.firstdev .col2{
    width: 65%;
    padding: 1.5rem;
}
.firstdev .col2 h2{
    font-size: 18px;
    margin-bottom: 0.7rem;
}
.firstdev .col2 p{
    font-size: 10px;
}
.firstdev .col2-2{
    display: flex;
}
.firstdev .col2-2 .col2{
    width: 50%;
}
.firstdev .col2-2 .col2 input{
    width: 100%;
    margin-bottom: 1px;
    height: 2.5rem;
    padding-left: 5px;
    border-radius: 5px;

}
.firstdev .col2 .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 2px;
}
.orderdiv table{
    width: 100%;
    border-collapse: collapse
    
}
.orderdiv table th,.orderdiv table td{
    font-size:15px;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
} 

/* ---------error-msg--- */
.error-msg-box{
    position: absolute;
    width: 25%;
    top: 18vh;
    right: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.5);
    color: rgb(12, 12, 12);
    font-size:1.3rem;
}
.success-msg-box{
    position: absolute;
    width: 25%;
    top: 18vh;
    right: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 10px 20px;
    background-color: rgba(0, 128, 0, 0.5);
    color: rgb(12, 12, 12);
    font-size:1.3rem;
}
.order-msg-box{
    text-align: center;
    position: absolute;
    width: 40%;
    top: 50%;
    left: 30%;
    padding: 30px 40px;
    background-color:#14850cc8;
    color: rgb(12, 12, 12);
    font-size:1.8rem;
    color: #dddddd;
}


.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #282828;
    color: #f1f1f1;
    padding: 1em 3em;
    border-radius: 1em;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #28282817;
    color: #282828;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 8px;
    border-style: solid;
    border-color: #28282817 transparent transparent transparent;
    transform: translateX(-50%);
  }
  
  .reveiw{
    justify-content: center;
}
.reveiw .box-container{
    display: flex;
    flex-wrap:wrap;
    gap: 1.5rem;
    justify-content: center;
    position: relative;
}
.reveiw .box-container .box{
    width: 30rem;
    height: auto;
    text-align: center;
    padding: 2rem;
    border: .1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border-radius: .5rem;
    background: #4f4f4f;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    position: relative;

}
.reveiw .box-container .box img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
    border-radius: 5px solid;
}
.reveiw .box-container .box h3{
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
    text-align: center;
}
.reveiw .box-container .box .stars i{
    font-size: 2rem;
    color:gold;
    padding: 1rem 0;
}
.reveiw .box-container .box p{
    font-size: 1.5rem;
    color:#eee;
    padding: 1rem 1rem;
}
.reveiw .box-container a{
    font-size: 2rem;
    color:rgb(255, 255, 255);
    font-weight: 900;
    padding: 0 1.5rem;
    background-color: var(--red);
    border-radius: 0.5rem;
}
.reveiw .box-container a:hover{
    background-color: #eee;
}
.reveiw > h1{
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
}
.reveiw > h1 span{
    color:rgb(255, 0, 0);
}
.rating:not(:checked) > input {
    position: absolute;
    appearance: none;
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #666;

  }
  
  .rating:not(:checked) > label:before {
    content: '★';
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #e58e09;
  }
  
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #ff9e0b;
  }
  
  .rating > input:checked ~ label {
    color: #ffa723;
  }
  
  .addingReview{
    margin:  3rem 3.6rem;
}
.addingReview form{
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.628);
    justify-content: center;
    padding-top: 2rem;
   
}
.addingReview form .input-box{
    width:80%;
}
.addingReview form .input-box input{
    width: 97%;
    height: 5rem;
    border-radius: .5rem;
    border: solid white;
    padding-left: 4rem;
    font-size: 1.5rem;
}
.addingReview form .button {
    display: flex;
    align-items:center;
    margin-bottom: 1.8REM;
}
.addingReview form .button input{
    background-color: var(--red);
    color: white;
    border-radius: .5rem;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}
.addingReview form .button input:hover{
    background-color: #ffffff;
    color: var(--red);
    border: solid 0.2rem var(--red);
    cursor: pointer;
}
.addingReview form .input-box input::placeholder{
    font-size: larger;
    font-weight: 900;
}

.tablediv table th{
    height: 10px;
}